doctype html
html
  head
    style
      include ../static/square.css
  body
    nav#navBar 
        ul 
          li #[a(href="/") Calculator]
          li #[a(href="/factorial") Factorial] 
          li #[a(href="/fibonacci") Fibonacci] 
          li #[a(href="/temperature") Temperature] 
          li #[a(href="/currency") Currency] 
          li #[a(href="/square") Square Root] 
          li #[a(href="/registration") Registration] 
          li #[a(href="/registerd") Registered] 
        
    table 
      td 
        th Name
        th Scholer No
        th Phone
        th Email 
      tr 
        myData   
          
    

               
    script
       include ../static/square.js